<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <system.webServer>
    <staticContent>
      <rule name="Rewrite" patternSyntax="ECMAScript" stopProcessing="true">
         <match url=".*" />
         <action type="Redirect" url="https://help.skillsoft.com/" appendQueryString="false" />
      </rule>
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
    </staticContent>
  </system.webServer>
 </configuration>
